<!-- Remove the container if you want to extend the Footer to full width. -->
<div th:fragment="footer">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light">
      <!-- Grid container -->
      <div class="container p-2 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-2">Join to us!</span>
            <a style="font-weight: bold" class="btn btn-sm btn-outline-secondary btn-rounded" href="/registration">Sign up</a>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark text-decoration-none" href="https://github.com/S1ngleton1">GitHub - S1ngleton1</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>
<!-- End of .container -->